<ion-content [fullscreen]="true" class="background">
  <div class="main">
    <div class="main">
      <ion-text color="white" style="text-align: center">
        <h1 class="sub-title">INICIAR COMO:</h1>
      </ion-text>

      <ion-button
        expand="full"
        shape="round"
        border-radius="5px"
        (click)="goRegisterUser()"
        class="red"
        >USUARIO</ion-button
      >
      <ion-button expand="full" shape="round" border-radius="5px" class="yellow"
      (click)="goRegisterEntrepreneur()">EMPRENDEDOR</ion-button
      >

      
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="img-footer">
    <img src="assets/imgs/jesus.png" alt="" />
  </div>
</ion-footer>
