.toast-success-shade {
    --background: var(--ion-color-success-shade);
    --color: #ffffff; /* O el color que prefieras */
  }
  .toast-danger-shade {
    --background: var(--ion-color-danger-shade);
    --color: #ffffff; /* O el color que prefieras */
  }