<ion-content [fullscreen]="true" class="background">
  <div class="main">
    <div class="img-header">
      <img src="assets/imgs/luri_color.png" alt="">
    </div>
    <div class="sub-title" >
      LA FORMA MÁS FÁCIL
    </div>
    <div class="sub-title" >
      DE <b>OFRECER Y ADQUIRIR</b>
    </div>
    <div class="sub-title2" >
      TUS SERVICIOS LABORALES
    </div>
    <div class="line-text">
      ______
    </div>

    
    <hr>
    <ion-button expand="full" shape="round" border-radius="5px" class="red" (click)="goLogin()">Iniciar Sesion</ion-button>
    <ion-button expand="full" shape="round" border-radius="5px" class="yellow" (click)="goMenuRegister()">Regístrate</ion-button> 
    
  </div>

</ion-content>
<ion-footer>
  <div class="img-footer">
    <img src="assets/imgs/jesus.png" alt="">
  </div>
</ion-footer>